$red--color: #FB3E3E;
$eucalyptus--color: #54E6AF;
$eucalyptus-light--color: #B3FFE2;
$navy--color: #121725;
$white--color: #FFF;
$purple--color: #5A668A;
$purple-dark--color: #2C344B;
$purple-light--color: #C2CBE5;
$tablet--breakpoint: 768px;
$desktop--breakpoint: 1440px;
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(assets/mobile/jpg/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $navy--color;
    opacity: 0.9;
    z-index: -1;
  }
}
header {
  text-align: center;
  margin-top: 62px;
  margin-bottom: 57px;
}
main {
        margin-bottom: 0;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    font-family: "Chivo", sans-serif;
    font-weight: 100;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: $eucalyptus--color;
    line-height: 38px;
    margin-bottom: 16px;
    span {
      color: $white--color;
    }
  }
  p {
    color: $purple-light--color;
    text-align: center;
    font-family: "Chivo", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 33px;
  }
  #call-to-action {
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;
    }
    .form {
      display: flex;
      flex-direction: column;
      &__error {
        color: $red--color;
        font-family: "Chivo", sans-serif;
        font-weight: bold;
        font-size: 12px;
        padding: 0 32px;
        margin-top: 8px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &--input, &--submit {
          width: 100%;
          padding: 9px 32px;
          border-radius: 28px;
          font-family: "Chivo", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
        }
        &--input {
          background-color: $purple-dark--color;
          color: $white--color;
          &::placeholder {
            opacity: 0.5;
          }
        }
        &--submit {
          color: $navy--color;
          background-color: $eucalyptus--color;
          &:hover {
            background-color: $eucalyptus-light--color;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.img--mid {
  display: none;
}
@media (min-width: $tablet--breakpoint) {
  body {
    display: block;
    min-height: auto;
    background-image: none;
    background-color: $navy--color;
    padding-top: 50px;
    padding-left: 39px;
    .mask {
      width: 63.9%;
      height: 767px;
      background-image: url(assets/tablet/jpg/image-host.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      left: auto;
      right: 0;
    }
  }
  header {
    margin: 0;
    margin-bottom: 152px;
    text-align: start;
  }
  main {
    width: 635px;
    margin: 0;
    margin-bottom: 153px;
    padding-top: 93px;
    background-color: $navy--color;
    h1 {
      font-size: 48px;
      text-align: start;
      line-height: 56px;
      margin-bottom: 31px;
    }
    p {
      text-align: start;
      margin-bottom: 40px;
      width: 445px;
      font-size: 18px;
      line-height: 28px;
    }
    #call-to-action {
      flex-direction: column-reverse;
      ul {
        width: 536px;
        margin-bottom: 0;
      }
      .form {
        width: 427px;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        margin-bottom: 64px;
        border-radius: 28px;
        background-color: $purple-dark--color;
        &__item {
          position: relative;
          margin-bottom: 0;
          width: auto;
          &--submit {
            width: 162px;
          }
        }
        &__error {
          position: absolute;
          left: 0;
          bottom: -24px;
          margin: 0;
        }
      }
    }
  }
  .img--sm {
    display: none;
  }
  .img--mid {
    display: block;
  }
}
@media (min-width: $desktop--breakpoint) {
  body {
    padding: 102px 0 130px 165px;
    .mask {
      width: 61.6%;
      height: 640px;
      background-image: url(assets/desktop/image-host.jpg);
      top: 130px;
    }
  }
  header {
    margin-bottom: 103px;
  }
  main {
    width: 723px;
    margin-bottom: 0;
  }
  footer {
    .img {
      position: absolute;
      right: 0;
      top: 718px;
    }
  }
}
